# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cache
*.cache/
build/CMakeFiles
build/Testing/Temporary
build/extern/googletest/googlemock/CMakeFiles/gmock.dir/src
build/extern/googletest/googletest/CMakeFiles/gtest.dir/src
build/lib
build/extern/googletest
build
cmake-build-debug/
debug-build
listing.*
extern.pdf
